https://www.fifaindex.com/ team ranking per year

2013  https://www.fifaindex.com/teams/fifa14_13/?league=13&order=desc   

2014  https://www.fifaindex.com/teams/fifa15_15/?league=13&order=desc 

2015  https://www.fifaindex.com/teams/fifa16_56/?league=13&order=desc 

2016  https://www.fifaindex.com/teams/fifa17_141/?league=13&order=desc

2017 https://www.fifaindex.com/teams/fifa18_242/?league=13&order=desc  

2018  https://www.fifaindex.com/teams/fifa19_339/?league=13&order=desc  

2019  https://www.fifaindex.com/teams/fifa20_412/?league=13&order=desc

2020  https://www.fifaindex.com/teams/fifa21_463/?league=13&order=desc

2021 https://www.fifaindex.com/teams/fifa22_540/?league=13&order=desc



2022 https://www.fifaindex.com/teams/fifa23_580/?league=13&order=desc

2022 LEAGUE RANKING

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from IPython.display import display, HTML

# Send a GET request to the URL
url = 'https://www.fifaindex.com/teams/fifa23_580/?league=13&order=desc'
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the team data
table = soup.find('table', class_='table-teams')

# Extract the data from the table
team_data = []
header_row = table.find('thead').find('tr')
for row in table.find('tbody').find_all('tr'):
    data_row = {}
    for idx, cell in enumerate(row.find_all('td')):
        header = header_row.find_all('th')[idx].text.strip()
        value = cell.text.strip()
        data_row[header] = value
    team_data.append(data_row)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(team_data)

# Select and reorder the desired columns
columns = ['Name', 'ATT', 'MID', 'DEF', 'OVR']

# Add the 'League Year' column with the value '2022'
df['League Year'] = '2022'

# Reorder the columns to include 'League Year' as the first column
df = df[['League Year'] + columns]

# Drop rows with NaN values
df = df.dropna()

# Reset the index
df = df.reset_index(drop=True)

df = df.rename(columns={'Name': 'Team Name', 'ATT': 'Attack', 'MID': 'Midfield', 'DEF': 'Defence', 'OVR': 'Overall'})

# Set the index to start from 1
df.index = df.index + 1

# Format the DataFrame to display with lines
styles = [
    dict(selector="th", props=[("border", "1px solid black")]),
    dict(selector="td", props=[("border", "1px solid black")]),
]

styled_df = df.style.set_table_styles(styles)

# Display the styled DataFrame
display(HTML(styled_df.render()))

/var/folders/7v/kq2bh6nx3b1b3m70qkc4jlmw0000gn/T/ipykernel_46226/2087052071.py:59: FutureWarning: this method is deprecated in favour of `Styler.to_html()`
  display(HTML(styled_df.render()))

In [ ]:
# Save the DataFrame as a CSV file
df.to_csv('2022_team_ranking_data.csv', index=False)

2021 LEAGUE RANKING

In [ ]:
# Send a GET request to the URL
url = 'https://www.fifaindex.com/teams/fifa22_540/?league=13&order=desc'
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the team data
table = soup.find('table', class_='table-teams')

# Extract the data from the table
team_data = []
header_row = table.find('thead').find('tr')
for row in table.find('tbody').find_all('tr'):
    data_row = {}
    for idx, cell in enumerate(row.find_all('td')):
        header = header_row.find_all('th')[idx].text.strip()
        value = cell.text.strip()
        data_row[header] = value
    team_data.append(data_row)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(team_data)

# Select and reorder the desired columns
columns = ['Name', 'ATT', 'MID', 'DEF', 'OVR']

# Add the 'League Year' column with the value '2021'
df['League Year'] = '2021'

# Reorder the columns to include 'League Year' as the first column
df = df[['League Year'] + columns]

# Drop rows with NaN values
df = df.dropna()

# Reset the index
df = df.reset_index(drop=True)

df = df.rename(columns={'Name': 'Team Name', 'ATT': 'Attack', 'MID': 'Midfield', 'DEF': 'Defence', 'OVR': 'Overall'})

# Set the index to start from 1
df.index = df.index + 1

# Format the DataFrame to display with lines
styles = [
    dict(selector="th", props=[("border", "1px solid black")]),
    dict(selector="td", props=[("border", "1px solid black")]),
]

styled_df = df.style.set_table_styles(styles)

# Display the styled DataFrame
display(HTML(styled_df.render()))

In [ ]:
# Save the DataFrame as a CSV file
df.to_csv('2021_team_ranking_data.csv', index=False)

2020 LEAGUE RANKING

In [ ]:
# Send a GET request to the URL
url = 'https://www.fifaindex.com/teams/fifa21_463/?league=13&order=desc'
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the team data
table = soup.find('table', class_='table-teams')

# Extract the data from the table
team_data = []
header_row = table.find('thead').find('tr')
for row in table.find('tbody').find_all('tr'):
    data_row = {}
    for idx, cell in enumerate(row.find_all('td')):
        header = header_row.find_all('th')[idx].text.strip()
        value = cell.text.strip()
        data_row[header] = value
    team_data.append(data_row)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(team_data)

# Select and reorder the desired columns
columns = ['Name', 'ATT', 'MID', 'DEF', 'OVR']

# Add the 'League Year' column with the value '2020'
df['League Year'] = '2020'

# Reorder the columns to include 'League Year' as the first column
df = df[['League Year'] + columns]

# Drop rows with NaN values
df = df.dropna()

# Reset the index
df = df.reset_index(drop=True)

df = df.rename(columns={'Name': 'Team Name', 'ATT': 'Attack', 'MID': 'Midfield', 'DEF': 'Defence', 'OVR': 'Overall'})

# Set the index to start from 1
df.index = df.index + 1

# Format the DataFrame to display with lines
styles = [
    dict(selector="th", props=[("border", "1px solid black")]),
    dict(selector="td", props=[("border", "1px solid black")]),
]

styled_df = df.style.set_table_styles(styles)

# Display the styled DataFrame
display(HTML(styled_df.render()))

In [ ]:
# Save the DataFrame as a CSV file
df.to_csv('2020_team_ranking_data.csv', index=False)

2019 LEAGUE RANKING

In [ ]:
# Send a GET request to the URL
url = 'https://www.fifaindex.com/teams/fifa20_412/?league=13&order=desc'
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the team data
table = soup.find('table', class_='table-teams')

# Extract the data from the table
team_data = []
header_row = table.find('thead').find('tr')
for row in table.find('tbody').find_all('tr'):
    data_row = {}
    for idx, cell in enumerate(row.find_all('td')):
        header = header_row.find_all('th')[idx].text.strip()
        value = cell.text.strip()
        data_row[header] = value
    team_data.append(data_row)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(team_data)

# Select and reorder the desired columns
columns = ['Name', 'ATT', 'MID', 'DEF', 'OVR']

# Add the 'League Year' column with the value '2019'
df['League Year'] = '2019'

# Reorder the columns to include 'League Year' as the first column
df = df[['League Year'] + columns]

# Drop rows with NaN values
df = df.dropna()

# Reset the index
df = df.reset_index(drop=True)

df = df.rename(columns={'Name': 'Team Name', 'ATT': 'Attack', 'MID': 'Midfield', 'DEF': 'Defence', 'OVR': 'Overall'})

# Set the index to start from 1
df.index = df.index + 1

# Format the DataFrame to display with lines
styles = [
    dict(selector="th", props=[("border", "1px solid black")]),
    dict(selector="td", props=[("border", "1px solid black")]),
]

styled_df = df.style.set_table_styles(styles)

# Display the styled DataFrame
display(HTML(styled_df.render()))

In [ ]:
# Save the DataFrame as a CSV file
df.to_csv('2019_team_ranking_data.csv', index=False)

2018 LEAGUE RANKING

In [ ]:
# Send a GET request to the URL
url = 'https://www.fifaindex.com/teams/fifa19_339/?league=13&order=desc'
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the team data
table = soup.find('table', class_='table-teams')

# Extract the data from the table
team_data = []
header_row = table.find('thead').find('tr')
for row in table.find('tbody').find_all('tr'):
    data_row = {}
    for idx, cell in enumerate(row.find_all('td')):
        header = header_row.find_all('th')[idx].text.strip()
        value = cell.text.strip()
        data_row[header] = value
    team_data.append(data_row)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(team_data)

# Select and reorder the desired columns
columns = ['Name', 'ATT', 'MID', 'DEF', 'OVR']

# Add the 'League Year' column with the value '2018'
df['League Year'] = '2018'

# Reorder the columns to include 'League Year' as the first column
df = df[['League Year'] + columns]

# Drop rows with NaN values
df = df.dropna()

# Reset the index
df = df.reset_index(drop=True)

df = df.rename(columns={'Name': 'Team Name', 'ATT': 'Attack', 'MID': 'Midfield', 'DEF': 'Defence', 'OVR': 'Overall'})

# Set the index to start from 1
df.index = df.index + 1

# Format the DataFrame to display with lines
styles = [
    dict(selector="th", props=[("border", "1px solid black")]),
    dict(selector="td", props=[("border", "1px solid black")]),
]

styled_df = df.style.set_table_styles(styles)

# Display the styled DataFrame
display(HTML(styled_df.render()))

In [ ]:
# Save the DataFrame as a CSV file
df.to_csv('2018_team_ranking_data.csv', index=False)

2017 LEAGUE RANKING

In [ ]:
# Send a GET request to the URL
url = 'https://www.fifaindex.com/teams/fifa18_242/?league=13&order=desc'
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the team data
table = soup.find('table', class_='table-teams')

# Extract the data from the table
team_data = []
header_row = table.find('thead').find('tr')
for row in table.find('tbody').find_all('tr'):
    data_row = {}
    for idx, cell in enumerate(row.find_all('td')):
        header = header_row.find_all('th')[idx].text.strip()
        value = cell.text.strip()
        data_row[header] = value
    team_data.append(data_row)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(team_data)

# Select and reorder the desired columns
columns = ['Name', 'ATT', 'MID', 'DEF', 'OVR']

# Add the 'League Year' column with the value '2017'
df['League Year'] = '2017'

# Reorder the columns to include 'League Year' as the first column
df = df[['League Year'] + columns]

# Drop rows with NaN values
df = df.dropna()

# Reset the index
df = df.reset_index(drop=True)

df = df.rename(columns={'Name': 'Team Name', 'ATT': 'Attack', 'MID': 'Midfield', 'DEF': 'Defence', 'OVR': 'Overall'})

# Set the index to start from 1
df.index = df.index + 1

# Format the DataFrame to display with lines
styles = [
    dict(selector="th", props=[("border", "1px solid black")]),
    dict(selector="td", props=[("border", "1px solid black")]),
]

styled_df = df.style.set_table_styles(styles)

# Display the styled DataFrame
display(HTML(styled_df.render()))

In [ ]:
# Save the DataFrame as a CSV file
df.to_csv('2017_team_ranking_data.csv', index=False)

2016 LEAGUE RANKING

In [ ]:
# Send a GET request to the URL
url = 'https://www.fifaindex.com/teams/fifa17_141/?league=13&order=desc'
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the team data
table = soup.find('table', class_='table-teams')

# Extract the data from the table
team_data = []
header_row = table.find('thead').find('tr')
for row in table.find('tbody').find_all('tr'):
    data_row = {}
    for idx, cell in enumerate(row.find_all('td')):
        header = header_row.find_all('th')[idx].text.strip()
        value = cell.text.strip()
        data_row[header] = value
    team_data.append(data_row)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(team_data)

# Select and reorder the desired columns
columns = ['Name', 'ATT', 'MID', 'DEF', 'OVR']

# Add the 'League Year' column with the value '2016'
df['League Year'] = '2016'

# Reorder the columns to include 'League Year' as the first column
df = df[['League Year'] + columns]

# Drop rows with NaN values
df = df.dropna()

# Reset the index
df = df.reset_index(drop=True)

df = df.rename(columns={'Name': 'Team Name', 'ATT': 'Attack', 'MID': 'Midfield', 'DEF': 'Defence', 'OVR': 'Overall'})

# Set the index to start from 1
df.index = df.index + 1

# Format the DataFrame to display with lines
styles = [
    dict(selector="th", props=[("border", "1px solid black")]),
    dict(selector="td", props=[("border", "1px solid black")]),
]

styled_df = df.style.set_table_styles(styles)

# Display the styled DataFrame
display(HTML(styled_df.render()))

In [ ]:
# Save the DataFrame as a CSV file
df.to_csv('2016_team_ranking_data.csv', index=False)

2015 LEAGUE RANKING

In [ ]:
# Send a GET request to the URL
url = 'https://www.fifaindex.com/teams/fifa16_56/?league=13&order=desc'
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the team data
table = soup.find('table', class_='table-teams')

# Extract the data from the table
team_data = []
header_row = table.find('thead').find('tr')
for row in table.find('tbody').find_all('tr'):
    data_row = {}
    for idx, cell in enumerate(row.find_all('td')):
        header = header_row.find_all('th')[idx].text.strip()
        value = cell.text.strip()
        data_row[header] = value
    team_data.append(data_row)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(team_data)

# Select and reorder the desired columns
columns = ['Name', 'ATT', 'MID', 'DEF', 'OVR']

# Add the 'League Year' column with the value '2015'
df['League Year'] = '2015'

# Reorder the columns to include 'League Year' as the first column
df = df[['League Year'] + columns]

# Drop rows with NaN values
df = df.dropna()

# Reset the index
df = df.reset_index(drop=True)

df = df.rename(columns={'Name': 'Team Name', 'ATT': 'Attack', 'MID': 'Midfield', 'DEF': 'Defence', 'OVR': 'Overall'})

# Set the index to start from 1
df.index = df.index + 1

# Format the DataFrame to display with lines
styles = [
    dict(selector="th", props=[("border", "1px solid black")]),
    dict(selector="td", props=[("border", "1px solid black")]),
]

styled_df = df.style.set_table_styles(styles)

# Display the styled DataFrame
display(HTML(styled_df.render()))

In [ ]:
# Save the DataFrame as a CSV file
df.to_csv('2015_team_ranking_data.csv', index=False)

2014 LEAGUE RANKING

In [ ]:
# Send a GET request to the URL
url = 'https://www.fifaindex.com/teams/fifa15_15/?league=13&order=desc'
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the team data
table = soup.find('table', class_='table-teams')

# Extract the data from the table
team_data = []
header_row = table.find('thead').find('tr')
for row in table.find('tbody').find_all('tr'):
    data_row = {}
    for idx, cell in enumerate(row.find_all('td')):
        header = header_row.find_all('th')[idx].text.strip()
        value = cell.text.strip()
        data_row[header] = value
    team_data.append(data_row)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(team_data)

# Select and reorder the desired columns
columns = ['Name', 'ATT', 'MID', 'DEF', 'OVR']

# Add the 'League Year' column with the value '2014'
df['League Year'] = '2014'

# Reorder the columns to include 'League Year' as the first column
df = df[['League Year'] + columns]

# Drop rows with NaN values
df = df.dropna()

# Reset the index
df = df.reset_index(drop=True)

df = df.rename(columns={'Name': 'Team Name', 'ATT': 'Attack', 'MID': 'Midfield', 'DEF': 'Defence', 'OVR': 'Overall'})

# Set the index to start from 1
df.index = df.index + 1

# Format the DataFrame to display with lines
styles = [
    dict(selector="th", props=[("border", "1px solid black")]),
    dict(selector="td", props=[("border", "1px solid black")]),
]

styled_df = df.style.set_table_styles(styles)

# Display the styled DataFrame
display(HTML(styled_df.render()))

In [ ]:
# Save the DataFrame as a CSV file
df.to_csv('2014_team_ranking_data.csv', index=False)

2013 LEAGUE RANKING

In [ ]:
# Send a GET request to the URL
url = 'https://www.fifaindex.com/teams/fifa14_13/?league=13&order=desc'
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the team data
table = soup.find('table', class_='table-teams')

# Extract the data from the table
team_data = []
header_row = table.find('thead').find('tr')
for row in table.find('tbody').find_all('tr'):
    data_row = {}
    for idx, cell in enumerate(row.find_all('td')):
        header = header_row.find_all('th')[idx].text.strip()
        value = cell.text.strip()
        data_row[header] = value
    team_data.append(data_row)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(team_data)

# Select and reorder the desired columns
columns = ['Name', 'ATT', 'MID', 'DEF', 'OVR']

# Add the 'League Year' column with the value '2013'
df['League Year'] = '2013'

# Reorder the columns to include 'League Year' as the first column
df = df[['League Year'] + columns]

# Drop rows with NaN values
df = df.dropna()

# Reset the index
df = df.reset_index(drop=True)

df = df.rename(columns={'Name': 'Team Name', 'ATT': 'Attack', 'MID': 'Midfield', 'DEF': 'Defence', 'OVR': 'Overall'})

# Set the index to start from 1
df.index = df.index + 1

# Format the DataFrame to display with lines
styles = [
    dict(selector="th", props=[("border", "1px solid black")]),
    dict(selector="td", props=[("border", "1px solid black")]),
]

styled_df = df.style.set_table_styles(styles)

# Display the styled DataFrame
display(HTML(styled_df.render()))

In [ ]:
# Save the DataFrame as a CSV file
df.to_csv('2013_team_ranking_data.csv', index=False)

In [2]:
df_22_ranking = pd.read_csv('2022_team_ranking_data.csv')
df_21_ranking = pd.read_csv('2021_team_ranking_data.csv')
df_20_ranking = pd.read_csv('2020_team_ranking_data.csv')
df_19_ranking = pd.read_csv('2019_team_ranking_data.csv')
df_18_ranking = pd.read_csv('2018_team_ranking_data.csv')
df_17_ranking = pd.read_csv('2017_team_ranking_data.csv')
df_16_ranking = pd.read_csv('2016_team_ranking_data.csv')
df_15_ranking = pd.read_csv('2015_team_ranking_data.csv')
df_14_ranking = pd.read_csv('2014_team_ranking_data.csv')
df_13_ranking = pd.read_csv('2013_team_ranking_data.csv')

In [3]:
# Concatinate the 10 tables
all_ranking_df = pd.concat([df_22_ranking, df_21_ranking, df_20_ranking, df_19_ranking, 
                           df_18_ranking, df_17_ranking, df_16_ranking,df_15_ranking, df_14_ranking, df_13_ranking], ignore_index=True)

In [4]:
all_ranking_df.head()

   League Year        Team Name  Attack  Midfield  Defence  Overall
0         2022  Manchester City      85        87       84       85
1         2022        Liverpool      84        82       84       84
2         2022          Chelsea      83        79       83       83
3         2022            Spurs      84        83       80       82
4         2022   Manchester Utd      82        83       81       82

In [5]:
# Save the DataFrame as a CSV file
all_ranking_df.to_csv('all_ranking_df.csv', index=False)